@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;	
}

body {
	background-image: url(../images/hexabump.png);
	background-repeat: repeat;	
}

#disclaimer {
	color: #333;
	font-size: 12px;
	text-align: center;
}

.main {
	background-image: none;
	background-color: #CCC;
	border-color: #666;
	border: 2px;
}

